@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');
.navbar {
    overflow: hidden;
    background-color: #fff;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 45px;
    padding-top: 10px;
}

#navbar-left{
  float: left;
  width: 25%;
}

#navbar-middle{
  padding-top: 5px;
  float: left;
  width: 60%;
  height: 100%;
}

#navbar-right{
  float: left;
  width: 15%;
}

#search-bar{
  width: 60%;
  border-radius: 2px;
  border: 1px solid #d3d3d3;
  height: 26px;
  width: 550px;
}

#search-btn{
  padding: 0;
}

body {
  margin: 0px;
  padding-top: 70px;
  background-color: #f9f9f9;
  font-family: roboto, sans-serif;
}

#player-col {
  float: left;
  width: 70%;
  text-align: center;
  height: 100%;
}

#thumbnails-col {
  float: left;
  padding-left: 10px;
  width: 29%;
}

.thumbnail-col-pic {
    float: left;
    padding-right: 5px;
}

.thumbnail-col-desc {
    height: 100%;
}

.thumbnail-row {
    padding-top: 10px;
    height: 120px;
}

h6 {
  padding: 0px;
  padding-top: 5px;
  margin: 0px;
}
.thumbnail-description-text {
  font-size: 12px;
}
.comment{
  display: inline-block;
  float: left;
  width: 100%;
  height: 150px;
}
.avatar-picture-col{
  float: left;
  width: 10%;
  height: 100%;
}
.comment-body-col{
  float: left;
  text-align: left;
  width: 70%;
}

.all-comments {
  padding-left: 25px;
}

.options-btn-col{
  float: left;
  width: 10%;
}

.name-time-row{
  float: left;
  width: 100%;
}

.title-name{
  font-weight: bold;
}

hr {
  width: 90%;
  height: 1px;
  color: grey;
  background-color: #e0e0e0;
  border: none;
}

#video-title {
  padding-left: 46px;
  font-weight: 400;
  text-align: left;
  font-size: 18px;
}
.red-youtube{
  color: red;
  font-size: 35px;
}

.search-icon{
  color: grey;
}
#navbar-left{
  height: 100%;
  vertical-align: middle;
  float: left;
}
#navbar-middle{
  height: 100%;
  vertical-align: middle;
  float: left;
}
#navbar-right{
  height: 100%;
  text-align: center;
  float: left;
  padding-top: 8px;
}
.nav-item{
  padding-left: 15px;
  vertical-align: middle;
}
.Youtube-logo-text{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: bolder;
  color: #282828 ;
}

.row-description {
  padding-left: 45px;
  color: #707070;
  text-align: left;
}

#youtube-stats {
  float: left;
  width: 50%;
}

#social-share-btns {
  float: left;
  width: 49%;
  text-align: center;
}
